article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
/* ======================================================================== */
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

/* ===================================================================== */
html {
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    color: #fdfdfd;
}

body {
    background-image: linear-gradient(to left top, #4e3c4c, #5e4355, #6f4a5d, #815163, #935867);
}

h1,
h2,
h3 {
    font-family: 'Yeseva One', cursive;
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

ul p,
ol p {
    text-align: left;
}

/* ========================================================================= */
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    background: rgba(235, 234, 247, 0.9);
    color: #4E3C4C;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/* ================================================================== */
.navigation {
    list-style: none;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 9;
}

.navigation li {
    width: 30px;
    height: 30px;
    background: #4E3C4C;
    border-radius: 50%;
    margin: 3px 0;
    padding-top: 3px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

a {
    color: #ebeaf7;
}

.step .notes {
    display: none;
}

.step {
    background: rgba(235, 234, 247, 0.9);
    margin: 5px auto;
    width: 900px;
    height: 700px;
    color: #4E3C4C;
    padding: 100px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.creators {
    display: flex;
    justify-content: space-evenly;
}

.creators div {
    width: 40%;
    border-radius: 50%;
}

.side-note {
    font-size: 0.8rem;
}

.prezi-gif {
    width: 50%;
    margin: 0 auto;
}

.comparison {
    display: flex;
    justify-content: space-evenly;
}

.comparison div {
    width: 40%;
}

.comparison li,
.cross-browser li,
.effect-table div li {
    list-style: inside;
}

.cross-browser ul {
    width: 80%;
    margin: 0 auto;
}

.no-impress {
    width: 90%;
    margin: 0 auto;
}

.external-script {
    width: 90%;
    margin: 0 auto;
}

.effect-table {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.effect-table div {
    width: 30%;
}

.same-visual-effect {
    background: goldenrod;
}

.rotation-3d {
    text-align: center;
}

.rotation-3d a {
    background: goldenrod;
    width: 30%;
    margin: 20px auto;
    padding: 5px 10px;
    border-radius: 50px;
    color: #4E3C4C;
    text-align: center;
}

.rotation-3d a:focus,
.rotation-3d a:hover {
    box-shadow: 0 0 10px #3d3d3d;
}

.special-css-classes ol {
    width: 30%;
    margin: 0 auto;
}

.plugins {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plugins div {
    width: 48%;
}

.pros,
.cons {
    width: 90%;
    margin: 30px auto;
}

.pros li {
    list-style-type: disc;
}

.cons li {
    list-style-type: circle;
}
/* ==================================================== */
.impress-enabled .step {
    opacity: 0.1;
}

.impress-enabled .step.active { 
    opacity: 1
}

.overview {
    display: none
}

.impress-on-overview .step {
    opacity: 0.5;
    cursor: pointer;
}

.impress-enabled div.impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
}
.impress-enabled div.impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div.impress-toolbar {
    display: none;
}

body.impress-mouse-timeout {
    cursor: none;
}